
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:url(../img/bg.png) no-repeat bottom right #366;
	background-size: 50% auto;
	min-height:100%;

    /*
	background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
	*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
	color:white;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

#cabecalho {
	width:100%;
	height:40px;
	padding-top:10px; /*height + padding = 50px*/

	background:linear-gradient(top, #fff, #ccc);
	background-image:-webkit-linear-gradient(top, #fff, #ccc);
    background-image:-ms-linear-gradient(top, #fff, #ccc);

	font: 40px bold;
	text-align:center;
	color:#333;
}

#cabecalho #titulo{
	position: absolute;
	left:0;
	right:75px;
	display:block;
	height:50px;
}

#cabecalho .menu-button{
	position: absolute;
	top:0;
	right:0;
	display:block;
	width:55px;
	height:50px;
	background:url(../img/menu-icon.png) no-repeat center;
	background-size: auto 30px;
}

ul#nav {
	list-style:none;
	width:135px; /* (40 + 5)px * 3 */
	height:50px;
	text-align:center;
	margin: 15px auto;
}

ul#nav li a {
	margin-left:5px;
}

ul#nav li a {
	position:relative;
	display:inline-block;
	float:left;
	width:40px;
	height:40px;

	background:#393;

	border-radius:10px;
	box-shadow: 2px 2px 2px #333;

	text-align:center;
	text-decoration:none;
	color:#fff;
}

ul#nav li a.active {
	background:#990;
}

ul#nav li a img{
	position:absolute;
	display:block;
	top:50%;
	left:50%;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	margin-left:-15px;
	max-width:30px;
}

ul#nav li a spam {
	display:block;
	margin-top:2px;
	font:30px bold;
}

.content {
	width:100%;
	margin:5px;
}

.content form {
	width:100%;
}

.content form table {
	table-layout:fixed;
	width:90%;
	margin:auto;
	border:0;
	border-collapse:collapse;
}

.content form table tr {
	width:auto;
}

.content form table tr td {
	width:105px;
	text-align:center;
}

.content form table tr td ~ td{
	width:auto;
}

.content form label {
	color:white;
}

.content form input {
	width:100%;
}

.content form tr td table.vezes {
	margin:0;
	padding:0;
}

.content form tr td table.vezes tr td {
	width:3em;
}

.content form tr td table.vezes tr td input {
	width:2em;
}

.content form tr td table.vezes tr td ~ td {
	width:1em;
}

.content form tr td table.vezes tr td ~ td ~ td {
	width:auto;
}

.content form tr td table.vezes tr td ~ td ~ td input {
	width:100%;
}

.content form input[type="button"] {
	position:absolute;
	bottom:50px;
	left:50%;
	display:block;
	width:8em;
	margin-left:-4em;
}

#dataTaxas {
	position:absolute;
	bottom:40px;
	left:50%;
	display:block;
	width:50em;
	margin-left:-25em;

	font-size:9px;
	text-align:center;
	color:#f00;
}

#pagina2, #pagina3 {
	display:none;
}

.drop-down {
	display:none;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
